* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

header,
footer {
  width: 100%;
  background-color: #151c20;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  margin: 0 0;
}

main {
  background-color: #8b959b;
  width: 90%;
  height: 70%;
  border-radius: 10px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Bungee Inline', cursive;
}

p {
  font-family: 'Bitter', serif;
}

ol {
  padding: 10px;
}

li {
  padding: 2px;
  margin-left: 5%;
}

#logo {
  width: 150px;
  border: 2px solid #8b959b;
  border-radius: 20px;
}

h1 {
  font-size: 1.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#randomMath {
  margin: 0 0;
  font-family: 'Bitter', serif;
  padding: 6px;
  line-height: 1.2em;
  text-align: center;
}

.headline {
  font-size: 1.3em;
  padding: 5px 0;
  text-align: center;
}

#genRandBtn {
  padding: 2px;
  justify-self: center;
}

.randImg {
  max-width: 90%;
  max-height: 70%;
  overflow: clip;
}
